{% assign pages = include.entries %}
{% assign data = site.data.sidebar %}
{% if include.entry %}
	{% assign current = include.entry %}
{% endif %}

<ul block="sidebar">
{% for item in data %}
	<li>
		<h3 elem="title">{{ item.title | markdownline }}</h3>
		<ul elem="pages">
	{% for entry in item.entries %}
			<li>
		{% for page in pages %}
			{% if page.url contains entry %}
				{% if page.url == current.url %}
					{% assign entry_current = true %}
				{% else %}
					{% assign entry_current = false %}
				{% endif %}
				{% if entry_current %}
					<span elem="text">
				{% else %}
					<a elem="link" href="{{ page.url }}">
				{% endif %}
						{{ page.title | markdownline }}
				{% if entry_current %}
					</span>
				{% else %}
					</a>
				{% endif %}
			{% endif %}
		{% endfor %}
			</li>
	{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>
