{% assign entries = include.entries %}
{% if include.entry %}
	{% assign current = include.entry %}
{% endif %}

<ul block="sidebar">
{% for entry in entries %}
	{% if entry.url == current.url %}
		{% assign entry_current = true %}
	{% else %}
		{% assign entry_current = false %}
	{% endif %}
	<li>
		{% if entry_current %}<span elem="text">{% else %}<a href="{{ entry.url }}" elem="link">{% endif %}
			{{ entry.title | markdownline }}
		{% if entry_current %}</span>{% else %}</a>{% endif %}
	</li>
{% endfor %}
</ul>
