{% assign mod = include.mod %}
{% assign tags = include.tags %}
{% assign entries = include.entries %}

{% if tags %}
	{% assign object = tags %}
{% endif %}
{% if entries %}
	{% capture tags %}{% for entry in entries %}{% for tag in entry.tags %}{{ tag }}(•){% endfor %}{% endfor %}{% endcapture %}
	{% assign object = tags | split: '(•)' %}
{% endif %}

{% assign object = object | keep_unique | sort %}

<ul block="tags" mod="{{ mod }}">
{% for tag in object %}
	<li elem="item"><a elem="link" href="/tags/{{ tag }}/">{{ tag }}</a></li>
{% endfor %}
</ul>
