// -------------------------------
// Blog
// -------------------------------

.blog {

	margin:0 -20px 24px;
	padding:20px 20px 0;
	background:$blue-5;

	&__title {
		@include offscreen;
		}

	// Palm to Lap

	@include mq($from:palm, $until:lap) {
		margin-right:0;
		}

	// From Lap

	@include mq($from:lap) {
		margin-left:0;
		margin-right:0;
		padding:15px 15px 0;
		}

	}
