// -------------------------------
// Disclaimer
// -------------------------------

.disclaimer {
	padding:12px 16px;
	background:$yellow;
	}

// Media

.disclaimer__bar {
	color:red;
	font-weight:bold;
	}
