// -------------------------------
// Sidebar
// -------------------------------

.sidebar {

	padding-bottom:8px;
	margin-bottom:8px;
	line-height:1.2;

	// Title

	&__title {
		padding:8px 0;
		color:$grey;
		letter-spacing:0.1em;
		text-transform:uppercase;
		font-size:12px;
		}

	// Pages

	&__pages {
		margin-bottom:8px;
		}

	// Elements

	&__text,
	&__link {
		display:block;
		margin-left:-10px;
		padding:7px 10px 6px;
		}

	// Text

	&__text {
		background:$grey-20;
		}

	// Link

	&__link {

		@extend %link--blue;
		@extend %link--blue-hover;

		&:hover {
			background:$blue-5;
			}

		}

	}
