# Kirby

AddDefaultCharset UTF-8
php_flag short_open_tag on 

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	RewriteRule ^content/(.*)\.(txt|md|mdown)$ error [R=301,L]
	RewriteRule ^site/(.*) error [R=301,L]
	RewriteRule ^kirby/(.*) error [R=301,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*) index.php [L] 
</IfModule>