---
layout: default
---

{% capture posts %}
	{% for post in site.categories.blog %}
		{% unless post.categories[1] %}
			<article class="teaser">
				<h3 class="teaser__title"><a href="{{ post.url }}" class="teaser__link">{{ post.title | markdownline }}</a></h3>
				<p class="meta meta--teaser">
					<time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="meta__time">{{ post.date | date: '%-d %B %Y' }}</time>
					by {% include author-name.html object=post link=true class='meta__author' %}
					in <a href="/{{ post.categories[0] }}/" class="meta__category">{{ post.categories[0] | capitalize }}</a>
				</p>
{% if post.intro %}
				<p class="teaser__intro">{{ post.intro | markdownline }}</p>
{% endif %}
			</article>(•)
		{% endunless %}
	{% endfor %}
{% endcapture %}

{% capture articles %}
	{% for post in site.categories.articles %}
		{% unless post.categories[1] %}
			<article class="teaser">
				<h3 class="teaser__title"><a href="{{ post.url }}" class="teaser__link">{{ post.title | markdownline }}</a></h3>
				<p class="meta meta--teaser">
					<time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="meta__time">{{ post.date | date: '%-d %B %Y' }}</time>
					by {% include author-name.html object=post link=true class='meta__author' %}
					in <a href="/{{ post.categories[0] }}/" class="meta__category">{{ post.categories[0] | capitalize }}</a>
				</p>
{% if post.intro %}
				<p class="teaser__intro">{{ post.intro | markdownline }}</p>
{% endif %}
			</article>(•)
		{% endunless %}
	{% endfor %}
{% endcapture %}

<main class="layout-main">
	<section class="layout-main__blog">
		<h2 class="layout-main__title"><a href="/blog/">Blog</a></h2>
{% assign posts = posts | split: '(•)' %}
{% for post in posts limit:6 %}
	{{ post }}
{% endfor %}
	</section>
	<section class="layout-main__articles">
		<h2 class="layout-main__title"><a href="/articles/">Articles</a></h2>
		<div class="columns columns--main">
{% assign articles = articles | split: '(•)' %}
{% for article in articles limit:12 %}
	{{ article }}
{% endfor %}
		</div>
	</section>
</main>
