---
layout: default
---

<main class="main">
	<section class="main-articles">
		<h2><a href="/articles/">Articles</a></h2>
{% for post in site.categories.articles %}
	{% unless post.lang %}
		<article class="content">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p>
				By {% include author.html object=post %}
				at <time>{{ post.date | date: '%d %B %Y' }}</time>
			</p>
		</article>
	{% endunless %}
{% endfor %}
	</section>
	<section class="main-blog">
		<h2><a href="/blog/">Blog</a></h2>
{% for post in site.categories.blog %}
	{% unless post.lang %}
		<article class="content">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<p>
				By {% include author.html object=post %}
				at <time>{{ post.date | date: '%d %B %Y' }}</time>
			</p>
		</article>
	{% endunless %}
{% endfor %}
	</section>
</main>