{% assign entry = include.entry %}
{% assign site_authors = site.authors | sort %}

{% capture entry_authors %}
	{% for author in site_authors %}
		{% assign author_slug = author.url | split: '/' | last %}
		{% if entry.authors contains author_slug %}
			<a href="{{ author.url }}" class="author">
				<img class="author__picture" src="/authors/{{ author_slug }}.jpg" alt="{{ author.title }}">
				<span class="author__name">{{ author.title }}</span>
			</a>
		{% endif %}
	{% endfor %}
{% endcapture %}

{{ entry_authors | remove: '	' | strip_newlines }}
