{% assign pictures = include.pictures | split: '|' %}
{% assign caption = include.caption | markdownline %}
{% capture figure %}
	{% for picture in pictures %}
		{% assign params = picture | split: ';' %}
		{% for param in params %}
			{% assign array = param | split: ':' %}
			{% if array[0] == 'src' %}
				{% assign src = array[1] %}
			{% endif %}
			{% if array[0] == 'size' %}
				{% assign size = array[1] %}
			{% endif %}
			{% if array[0] == 'alt' %}
				{% assign alt = array[1] %}
			{% endif %}
			{% if array[0] == 'full' %}
				{% assign full = array[1] %}
			{% endif %}
		{% endfor %}
		{% if full %}<a href="{{ include.path }}/{{ full }}">{% endif %}
			<img src="{{ include.path }}/{{ src }}" alt="{{ alt }}" class="figure__media figure__media--{{ size }}">
		{% if full %}</a>{% endif %}
	{% endfor %}
{% endcapture %}

<figure class="figure">
	{{ figure | remove: '	' | strip_newlines }}
{% if caption %}
	<figcaption class="figure__caption">{{ caption }}</figcaption>
{% endif %}
</figure>
