{% if page.url == '/index.html' %}
	{% assign modifier = ' footer--index' %}
{% else %}
	{% assign modifier = ' footer--page' %}
{% endif %}
	<footer class="footer{{ modifier }}">
		<p>Copyright © 2014 Opera Software ASA. All rights reserved</p>
	</footer>
	<div id="grid">
		<div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<script src="/scripts/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>