	<footer class="footer">
		<p class="footer__copy">Copyright © 2006—{{ site.time | date: '%Y' }} Opera Software ASA. Some rights reserved. <a href="https://github.com/operasoftware/devopera/blob/master/CONTRIBUTING.md" class="footer__link footer__link--contribute">Contribute!</a></p>
	</footer>
{% if page.categories contains 'articles' or page.categories contains 'tv' or page.categories contains 'blog' %}
	<script src="/scripts/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
	{% include analytics.html %}
</body>
</html>
