	<footer class="footer">
		<p>Copyright © {{ site.time | date: '%Y' }} Opera Software ASA. All rights reserved</p>
	</footer>
	<div id="grid">
		<div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
{% if page.categories contains 'articles' or page.categories contains 'blog' %}
	<script src="/scripts/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
{% endif %}
</body>
</html>
