<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<title>{{ site.title }}{% if page.title %} — {{ page.title | markdownline | strip_html }}{% endif %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
	<header class="header" role="banner">
		<div class="header__logo">
{% if page.url == '/index.html' %}
			<h1 class="logo">
				<span class="logo__wrapper">
					Dev.<span class="logo__thinner">Opera</span>
				</span>
			</h1>
{% else %}
			<p class="logo">
				<a href="/" class="logo__wrapper">
					Dev.<span class="logo__thinner">Opera</span>
				</a>
			</p>
{% endif %}
		</div>
		<nav class="header__menu">
			{% include menu.html items='Blog|Articles|Extensions|TV' %}
		</nav>
		<form class="header__search" action="/search/" method="get">
			<fieldset class="search">
				<input type="search" name="q" placeholder="Search Dev.Opera" class="search__field">
			</fieldset>
		</form>
	</header>
