<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<title>{{ site.title }}{% if page.title %} — {{ page.title | markdownline | strip_html }}{% endif %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
{% if page.url == '/index.html' %}
	<meta name="description" content="Dev.Opera covers current and future HTML, CSS and JavaScript features and implementations, responsive web design, browser extensions, and more.">
{% endif %}
	<link rel="stylesheet" href="/styles/screen.css">
	<link rel="manifest" href="/devopera.webmanifest">
	<link rel="alternate" href="/feed/" type="application/atom+xml" title="Dev.Opera">
	<link rel="alternate" href="/feed/articles/" type="application/atom+xml" title="Dev.Opera Articles">
	<link rel="alternate" href="/feed/blog/" type="application/atom+xml" title="Dev.Opera Blog">
	<link rel="alternate" href="/feed/tv/" type="application/atom+xml" title="Dev.Opera TV">
</head>
<body>

	<header block="header" role="banner">
{% if page.url == '/index.html' %}
		<h1 elem="logo">
			<span elem="logo-type">
				Dev.<span elem="logo-opera">Opera</span>
			</span>
		</h1>
{% else %}
		<span elem="logo">
			<a elem="logo-type" href="/">
				Dev.<span elem="logo-opera">Opera</span>
			</a>
		</span>
{% endif %}
		<nav>
			{% include menu.html items='Blog|Articles|Extensions|TV' %}
		</nav>
		<form action="/search/" method="get">
			<fieldset elem="search">
				<input elem="search-field" type="search" name="q" placeholder="Search Dev.Opera">
			</fieldset>
		</form>
	</header>
