				</div><!-- .span8 -->
				<nav id="sidebar" class="span4 well well-small">
					<ul class="nav nav-list">
						<li>
							<h2 class="nav-header">Tutorials</h2>
							<ul class="nav nav-list">
								<li><a href="/addons/getting-started/">Getting started</a></li>
								<li><a href="/addons/architecture-overview/">Architecture overview</a></li>
								<li><a href="/addons/basics/">The basics of making an extension</a></li>
								<li><a href="/addons/browser-actions/">Buttons, popups and badges (browser actions)</a></li>
								<li><a href="/addons/message-passing/">Passing messages in extensions</a></li>
								<li><a href="/addons/sidebar-actions/">Creating extensions for the sidebar</a></li>
								<li><a href="/addons/tab-window/">Working with tabs and windows</a></li>
								<li><a href="/addons/content-scripts/">Content scripts</a></li>
								<li><a href="/addons/match-patterns/">Match patterns</a></li>
								<li><a href="/addons/declare-permissions/">Permissons declarations</a></li>
								<li><a href="/addons/optional-permissions/">Optional permissions</a>
								<li><a href="/addons/context-menus/">Working with the context menu</a></li>
								<li><a href="/addons/speeddial-extensions/">Speed Dial extensions</a></li>
								<li><a href="/addons/bookmarks/">Working with bookmarks</a></li>
								<li><a href="/addons/downloads/">Working with downloads</a></li>
								<li><a href="/addons/history/">Working with the browser history</a></li>
								<li><a href="/addons/removing-browsingdata/">Removing browsing data</a></li>
								<li><a href="/addons/privacy/">Controlling privacy features</a></li>
								<li><a href="/addons/omnibox/">Creating address bar extensions</a></li>
								<li><a href="/addons/contentsettings/">Site-specific customization</a></li>
								<li><a href="/addons/commands/">Adding keyboard shortcuts</a></li>
								<li><a href="/addons/webnavigation/">Using webNavigation</a></li>
								<li><a href="/addons/proxy/">Using the Proxy API</a></li>
								<li><a href="/addons/offroad/">Working with Off-Road Mode</a></li>
								<li><a href="/addons/internationalization/">Internationalization</a></li>
								<li><a href="/addons/inline-installation/">Inline installation of extensions</a></li>
								<li><a href="/addons/devtools/">Extending DevTools</a></li>
								<li><a href="/addons/testing/">Testing and debugging your extensions</a></li>
								<li><a href="/addons/icons/">Creating effective icons</a></li>
								<li><a href="/addons/extension-samples/">Extension templates and samples</a></li>
								<li><a href="/addons/publishing-guidelines/">Publishing guidelines</a></li>
							</ul>
						</li>
						<li>
							<h2 class="nav-header">API Docs</h2>
							<ul class="nav nav-list">
								<li><a href="/addons/manifest/">Formats: Manifest Files</a></li>
								<li><a href="/addons/apis/">Supported extension APIs</a></li>
								<li><a href="/addons/addons/">opr.addons</a></li>
								<li><a href="/addons/speeddial/">opr.speeddial</a></li>
								<li><a href="/addons/sidebarAction/">opr.sidebarAction</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div><!-- .row-fluid -->
