<h2>Tutorials</h2>
<ul>
	<li><a href="/extensions/getting-started/">Getting Started</a></li>
	<li><a href="/extensions/architecture-overview/">Architecture Overview</a></li>
	<li><a href="/extensions/basics/">The Basics of Making an Extension</a></li>
	<li><a href="/extensions/browser-actions/">Browser Actions: Buttons, Popups and Badges</a></li>
	<li><a href="/extensions/message-passing/">Passing Messages in Extensions</a></li>
	<li><a href="/extensions/sidebar-actions-manual/">Creating Extensions for the Sidebar</a></li>
	<li><a href="/extensions/tab-window/">Working With Tabs and Windows</a></li>
	<li><a href="/extensions/content-scripts/">Content scripts</a></li>
	<li><a href="/extensions/match-patterns/">Match patterns</a></li>
	<li><a href="/extensions/declare-permissions/">Permissons declarations</a></li>
	<li><a href="/extensions/optional-permissions/">Optional permissions</a>
	<li><a href="/extensions/context-menus/">Working with the context menu</a></li>
	<li><a href="/extensions/speeddial-extensions/">Speed Dial extensions</a></li>
	<li><a href="/extensions/bookmarks/">Working with bookmarks</a></li>
	<li><a href="/extensions/downloads/">Working with downloads</a></li>
	<li><a href="/extensions/history/">Working with the browser history</a></li>
	<li><a href="/extensions/removing-browsingdata/">Removing browsing data</a></li>
	<li><a href="/extensions/privacy/">Controlling privacy features</a></li>
	<li><a href="/extensions/omnibox/">Creating address bar extensions</a></li>
	<li><a href="/extensions/contentsettings/">Site-specific customization</a></li>
	<li><a href="/extensions/commands/">Adding keyboard shortcuts</a></li>
	<li><a href="/extensions/webnavigation/">Using webNavigation</a></li>
	<li><a href="/extensions/proxy/">Using the Proxy API</a></li>
	<li><a href="/extensions/offroad/">Working with Off-Road Mode</a></li>
	<li><a href="/extensions/internationalization/">Internationalization</a></li>
	<li><a href="/extensions/inline-installation/">Inline installation of extensions</a></li>
	<li><a href="/extensions/devtools/">Extending DevTools</a></li>
	<li><a href="/extensions/testing/">Testing and debugging your extensions</a></li>
	<li><a href="/extensions/icons/">Creating effective icons</a></li>
	<li><a href="/extensions/extension-samples/">Extension templates and samples</a></li>
	<li><a href="/extensions/publishing-guidelines/">Publishing guidelines</a></li>
</ul>

<h2>API Docs</h2>
<ul>
	<li><a href="/extensions/manifest/">Formats: Manifest Files</a></li>
	<li><a href="/extensions/apis/">Supported extension APIs</a></li>
	<li><a href="/extensions/extensions/">opr.extensions</a></li>
	<li><a href="/extensions/speeddial/">opr.speeddial</a></li>
	<li><a href="/extensions/sidebarAction/">opr.sidebarAction</a></li>
</ul>
