				</div><!-- .span8 -->
				<nav id="sidebar" class="span4 well well-small">
					<ul class="nav nav-list">
						<li>
							<h2 class="nav-header">Tutorials</h2>
							<ul class="nav nav-list">
								<li><a href="/ext/getting-started/">Getting started</a></li>
								<li><a href="/ext/architecture-overview/">Architecture overview</a></li>
								<li><a href="/ext/basics/">The basics of making an extension</a></li>
								<li><a href="/ext/browser-actions/">Buttons, popups and badges (browser actions)</a></li>
								<li><a href="/ext/message-passing/">Passing messages in extensions</a></li>
								<li><a href="/ext/sidebar-actions/">Creating extensions for the sidebar</a></li>
								<li><a href="/ext/tab-window/">Working with tabs and windows</a></li>
								<li><a href="/ext/content-scripts/">Content scripts</a></li>
								<li><a href="/ext/match-patterns/">Match patterns</a></li>
								<li><a href="/ext/declare-permissions/">Permissons declarations</a></li>
								<li><a href="/ext/optional-permissions/">Optional permissions</a>
								<li><a href="/ext/context-menus/">Working with the context menu</a></li>
								<li><a href="/ext/speeddial-extensions/">Speed Dial extensions</a></li>
								<li><a href="/ext/bookmarks/">Working with bookmarks</a></li>
								<li><a href="/ext/downloads/">Working with downloads</a></li>
								<li><a href="/ext/history/">Working with the browser history</a></li>
								<li><a href="/ext/removing-browsingdata/">Removing browsing data</a></li>
								<li><a href="/ext/privacy/">Controlling privacy features</a></li>
								<li><a href="/ext/omnibox/">Creating address bar extensions</a></li>
								<li><a href="/ext/contentsettings/">Site-specific customization</a></li>
								<li><a href="/ext/commands/">Adding keyboard shortcuts</a></li>
								<li><a href="/ext/webnavigation/">Using webNavigation</a></li>
								<li><a href="/ext/proxy/">Using the Proxy API</a></li>
								<li><a href="/ext/offroad/">Working with Off-Road Mode</a></li>
								<li><a href="/ext/internationalization/">Internationalization</a></li>
								<li><a href="/ext/inline-installation/">Inline installation of extensions</a></li>
								<li><a href="/ext/devtools/">Extending DevTools</a></li>
								<li><a href="/ext/testing/">Testing and debugging your extensions</a></li>
								<li><a href="/ext/icons/">Creating effective icons</a></li>
								<li><a href="/ext/extension-samples/">Extension templates and samples</a></li>
								<li><a href="/ext/publishing-guidelines/">Publishing guidelines</a></li>
							</ul>
						</li>
						<li>
							<h2 class="nav-header">API Docs</h2>
							<ul class="nav nav-list">
								<li><a href="/ext/manifest/">Formats: Manifest Files</a></li>
								<li><a href="/ext/apis/">Supported extension APIs</a></li>
								<li><a href="/ext/addons/">opr.addons</a></li>
								<li><a href="/ext/speeddial/">opr.speeddial</a></li>
								<li><a href="/ext/sidebarAction/">opr.sidebarAction</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div><!-- .row-fluid -->
