{% assign class = include.class | prepend:' ' %}
{% assign tags = include.tags %}
{% assign entries = include.entries %}

{% if tags %}
	{% assign object = tags %}
{% endif %}
{% if entries %}
	{% capture tags %}{% for entry in entries %}{% for tag in entry.tags %}{{ tag }}(•){% endfor %}{% endfor %}{% endcapture %}
	{% assign object = tags | split: '(•)' %}
{% endif %}

{% assign object = object | keep_unique | sort %}

<ul class="tags{{ class }}">
{% for tag in object %}
	<li class="tags__item"><a class="tags__link" href="/tags/{{ tag }}/">{{ tag }}</a></li>
{% endfor %}
</ul>
