{% assign translated = false %}
{% capture translations %}
	{% for post in {{include.category}} %}
		{% assign page_slug = page.url | split: '/' | last %}
		{% assign post_slug = post.url | split: '/' | last %}
		{% if post_slug == page_slug %}
			{% assign lang = post.categories[1] %}
			{% unless lang %}
				{% assign lang = 'en' %}
			{% endunless %}
			{% if page.url != post.url %}
				{% assign translated = true %}
				<a href="{{ post.url }}">{{ site.data.langs[lang] }}</a>
			{% else %}
				{{ site.data.langs[lang] }}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endcapture %}
{% if translated %}
	<p class="translations">Translations:{{ translations }}</p>
{% endif %}
