{% assign entry = include.entry %}
{% assign entry_id = entry.id | split: '/' | last %}

{% assign translated = false %}

{% capture translations %}
	{% for post in site.posts %}
		{% assign post_id = post.id | split: '/' | last %}
		{% if post_id == entry_id %}
			{% assign lang = post.language %}
			{% if post.url != entry.url %}
				{% assign translated = true %}
				<a href="{{ post.url }}">{{ site.data.langs[lang] }}</a>
			{% else %}
				{{ site.data.langs[lang] }}
			{% endif %}(•)
		{% endif %}
	{% endfor %}
{% endcapture %}

{% if translated %}
	Available in {{ translations | remove: '	' | strip_newlines | split: '(•)' | join: ', ' }}.
{% endif %}
