{% assign translated = false %}
{% capture translations %}
	{% for post in {{include.category}} %}
		{% assign current = page.url | split: '/' | last %}
		{% assign item = post.url | split: '/' | last %}
		{% if item == current %}
			{% assign lang = post.categories[1] %}
			{% unless lang %}
				{% assign lang = 'en' %}
			{% endunless %}
			{% if page.url != post.url %}
				{% assign translated = true %}
				<a href="{{ post.url }}">{{ site.data.lang[lang] }}</a>
			{% else %}
				{{ site.data.lang[lang] }}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endcapture %}
{% if translated %}
	<p>Translations: {{ translations }}</p>
{% endif %}