---
layout: default
---

{% assign documents = site.extensions %}

<main block="layout">
	<div elem="content" mod="entry">
		<article role="main" lang="{{ page.language }}">
			<h1 block="content" elem="title">{{ page.title | markdownline }}</h1>
			<div block="content">
				{{ content }}
			</div>
		</article>
	</div>
	<div elem="aside">
		{% include sidebar.html entries=documents entry=page collection='tutorials' %}
		{% include sidebar.html entries=documents entry=page collection='apis' %}
	</div>
</main>
<script src="/scripts/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
