---
layout: none
---
<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>Dev.Opera</title>
	<link href="https://dev.opera.com/"/>
	<link type="application/atom+xml" rel="self" href="https://dev.opera.com/feed/"/>
	<updated>{{ site.time | date_to_xmlschema }}</updated>
	<id>https://dev.opera.com/</id>
	<author>
		<name>Dev.Opera editors</name>
		<email></email>
	</author>
{% if page.category %}
	{% assign entries = site.posts | where: 'language', 'en' | where: 'category', page.category %}
{% else %}
	{% assign entries = site.posts | where: 'language', 'en' %}
{% endif %}
{% for entry in entries limit:25 %}
	<entry>
		<id>https://dev.opera.com{{ entry.url }}</id>
		<link type="text/html" rel="alternate" href="https://dev.opera.com{{ entry.url }}"/>
		<title>{{ entry.title | markdownline }}</title>
		<published>{{ entry.date | date_to_xmlschema }}</published>
		<updated>{{ entry.date | date_to_xmlschema }}</updated>
		<author>
			<name>{% capture authors %}{% include authors.html %}{% endcapture %}{{ authors | strip }}</name>
		</author>
		<content type="html" xml:base="https://dev.opera.com/"><![CDATA[{{ entry.content }}]]></content>
	</entry>
{% endfor %}
</feed>
