/*
My global CSS file
*/
body{
	font: 90% / 1.5 helvetica,arial,sans-serif;
	margin:0;
	padding:0;
}

header, nav, footer{display: block; clear: both;}

h1,h2,h3,h4,h5,h6{font-family:helvetica,arial,sans-serif}
h1{color:#b00; font-size: 2em; margin:20px; margin: 1rem}
h2{color:#a00; font-size: 1.8em}
h3{color:#800; font-size: 1.6em}
h4{color:#600; font-size: 1.4em}
h5{color:#400; font-size: 1.2em}
h6{color:#200; font-size: 1em}

pre{overflow:scroll;}

nav{
	display:block;
	margin:0;
	background:#b20000;
	padding:.5em;
	color:#fff;
}


a:link{
	color:#30f;
	-webkit-transition: color 300ms linear;
	-moz-transition: color 300ms linear;
	-ms-transition: color 300ms linear;
	-o-transition: color 300ms linear;
	transition: color 300ms linear;
}
a:visited{color:#004;}
a:hover{color:#b20000;}

nav a{font-weight:bold;text-decoration:none; padding:0 2px}
nav a:link{color:#fff;}
nav a:visited{color:#eee;}
nav a:hover{color:#b20000; background:#fff;}

body > section{padding:0 30px}

footer{margin: 20px; font-size: .8em; font-size: .8rem;}
footer img{display:block; float:left; margin: 0 .5em 0 0; vertical-align:top}

p{margin: .5em 0; margin: .5rem 0; padding: 1em; padding: 1rem;}
iframe{
	margin: 20px;
	margin: 1rem;
	width:40%;
	min-height:16em;
	min-height:16rem;
}
button{display:block; margin:1em 0}
p,li{margin: 0 1.5rem;}
button{
	background-color:#c00;
	background-image: -webkit-linear-gradient(top ,#e00,#b20000);
	background-image: -moz-linear-gradient(top ,#e00,#b20000);
	background-image: -ms-linear-gradient(top ,#e00,#b20000);
	background-image: -o-linear-gradient(top ,#e00,#b20000);
	background-image: linear-gradient(top ,#e00,#b20000);
	color:#fff;
	padding:.3rem .5rem;
	border: 1px solid #b20;
	border-radius: 1rem;
	font-weight:bold;
}
form p{margin:0}

input[type=text],input[type=email]{
	font-size:1.2em;
	font-size:1.2em;
	padding:.2em;

	font-size:1.2rem;
	font-size:1.2rem;
	padding:.2rem;
}
footer p{margin:0}

input[type=email]{display:block;}

