---
title: Blog
layout: default
---

{% capture blog %}
	{% for post in site.categories.blog %}
		{% unless post.categories[1] %}
			<article class="teaser">
				<h2 class="teaser__title"><a href="{{ post.url }}" class="teaser__link">{{ post.title | markdownline }}</a></h2>
				<p class="meta meta--teaser">
					<time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="meta__time">{{ post.date | date: '%-d %B %Y' }}</time>
					by {% include author-name.html object=post link=true class='meta__author' %}
				</p>
{% if post.intro %}
				<p class="teaser__intro">{{ post.intro | markdownline }}</p>
{% endif %}
			</article>(•)
		{% endunless %}
	{% endfor %}
{% endcapture %}

{% assign blog = blog | split: '(•)' %}

<main>
	<article role="main" class="layout-archive">
		<h1 class="layout-archive__title">{{ page.title }}</h1>
		<section class="layout-archive__content">
			<div class="columns columns--archive">
{% for post in blog %}
	{{ post }}
{% endfor %}
			</div>
		</section>
		<section class="layout-archive__aside">
			<p class="tags">
				<span class="tags__caption">Posts by tags:</span> {% include tags.html category=site.categories.blog %}
			</p>
		</section>
	</article>
</main>
