---
title: Extensions Documentation
category: extensions
layout: default
---

{% assign documents = site.extensions %}
{% assign documents_featured = documents | where: 'featured', 'featured' %}
{% assign documents_intro = documents | where: 'id', '/extensions/getting-started' | last %}

<main block="layout">
	<div elem="content">
		<div class="">
				<h1 class="content__title">Opera Extensions: Developer's Guide</h1>
				<div block="content">
				<h2 id="introduction">Introduction</h2>

<p>Extensions are small code packages that you can add to your browser to extend its functionality. Want to add an e-mail notification window to the browser that brings up your latest mails form your preferred mail service? Want to tweet straight from the browser, replace all instances of the word “politics” on web pages with “fish”, or bring up translations of the current selection in a tooltip? Extensions are the way forward!</p>

<p>The Opera extensions API allows you to tap into many different features of the browser, giving you a lot options for extension functionality. This article will get you started, look at what is available, and provide links to further information.</p>

<p>Note: If you haven’t done so already, then head over to the <a href="https://addons.opera.com/addons/extensions/">Opera extensions catalog</a> to download and get a feel for various extensions.</p>

<h2 id="already-developed-chrome-extensions">Already developed Chrome Extensions?</h2>

<p>If you have already developed extensions for Chrome then you will feel right at home making extensions for Opera. Opera is based on Chromium, which means it is possible to run CRX files in Opera. For a list of which <code class="highlighter-rouge">chrome.*</code> APIs we support, please check the <a href="/extensions/apis/">API Docs section</a> in the sidebar of this page.</p>

<h2 id="what-next">What next?</h2>

<p>
	Check out the essential articles for getting started below. The navigation sidebar on the left has links to a number of tutorials on various aspects of making extensions. Lastly, get inspired by reading about the experiences of some great extension developers in our interview series below.
</p>

			</div>
		</div>
		<section block="archive">
			<h1 elem="title">{{ page.title }}</h1>
			<div elem="columns" data-columns>
				<h2 elem="title">Featured Articles</h2>

{% for document in documents_featured %}
	{% include teaser.html entry=document %}
{% endfor %}

			</div>
			<div elem="columns" data-columns>
				<h2 elem="title">Extension Developer Interviews</h2>

{% capture interviews %}
	{% assign articles = site.posts | where: 'language', 'en' | where: 'category', 'articles' %}
	{% for article in articles %}
		{% if article.tags contains 'interview' and article.tags contains 'extensions' %}
			{% include teaser.html entry=article %}(•)
		{% endif %}
	{% endfor %}
{% endcapture %}

{% assign interviews = interviews | remove: '	' | strip_newlines | split: '(•)' %}

{% for interview in interviews limit:3 %}
	{{ interview }}
{% endfor %}

			</div>
		</section>
	</div>
	<div elem="aside">
		{% include sidebar.html entries=documents collection='tutorials' %}
		{% include sidebar.html entries=documents collection='apis' %}
	</div>
</main>
<script src="/scripts/salvattore.js"></script>
