---
layout: default
---

<main class="main">
	<article role="main" class="main-content">
		<h1>{{ page.title }}</h1>
		<p>
			By {% include author.html object=page %}
			at <time>{{ page.date | date: '%d %B %Y' }}</time>
		</p>
		<p>Tags:
{% for tag in page.tags %}
			 <a href="/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}
		</p>
{% assign translated = false %}
{% capture translations %}
	{% for post in site.categories.articles %}
		{% assign current = page.url | split: '/' | last %}
		{% if post.url contains current %}
			{% assign lang = post.categories[1] %}
			{% unless lang %}
				{% assign lang = 'en' %}
			{% endunless %}
			{% if page.url != post.url %}
				{% assign translated = true %}
				<a href="{{ post.url }}">{{ site.data.lang[lang] }}</a>
			{% else %}
				{{ site.data.lang[lang] }}
			{% endif %}
		{% endif %}
	{% endfor %}
{% endcapture %}
{% if translated %}
	<p>Translations: {{ translations }}</p>
{% endif %}
{{ content }}
	</article>
</main>