---
layout: default
---

<main class="main">
	{% assign lang = page.categories[1] %}
	{% unless lang %}
		{% assign lang = 'en' %}
	{% endunless %}
	<article role="main" class="main-content" lang="{{ lang }}">
		<h1>{{ page.title | escape }}</h1>
		<p>
			By {% include author.html object=page %}
			at <time>{{ page.date | date: '%d %B %Y' }}</time>
		</p>
		<p>Tags:
{% for tag in page.tags %}
			<a href="/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}
		</p>
{% include translations.html category=site.categories.articles %}
{{ content }}
	</article>
</main>