---
layout: default
---

<main block="layout">
	<div elem="content">
		<article block="content" role="main">
			<h1 elem="title">{{ page.title | markdownline }}</h1>
			<p>{% include link.html link=page.link %}</p>
			{{ content }}
			<h2>{{ page.title | split: ' ' | first | append: '’s' | replace: 's’s','s’' }} articles:</h2>
			<ul>
{% assign author = page.url | split: '/' | last %}
{% for post in site.posts %}
	{% if post.authors contains author %}
		{% unless post.categories[1] %}
				<li><a href="{{ post.url }}">{{ post.title | markdownline }}</a></li>
		{% endunless %}
	{% endif %}
{% endfor %}
			</ul>
		</article>
	</div>
	<div elem="aside">
		<p block="authors">
			<a href="{{ page.link }}">
				<img elem="picture" src="/authors/{{ page.url | split: '/' | last }}.jpg" alt="{{ page.title }}">
			</a>
		</p>
	</div>
</main>
