---
layout: default
---

<main class="layout">
	<div class="layout__content">
		<article role="main" class="content">
			<h1 class="content__title">{{ page.title | markdownline }}</h1>
			<p>{% include link.html link=page.link %}</p>
			{{ content }}
			<h2>{{ page.title | split: ' ' | first | append: '’s' | replace: 's’s','s’' }} articles:</h2>
			<ul>
{% assign author = page.id | split: '/' | last %}
{% for post in site.posts %}
	{% if post.authors contains author %}
		{% unless post.categories[1] %}
				<li><a href="{{ post.url }}">{{ post.title | markdownline }}</a></li>
		{% endunless %}
	{% endif %}
{% endfor %}
			</ul>
		</article>
	</div>
	<div class="layout__aside">
		<img src="/authors/{{ page.url | split: '/' | last }}.jpg" alt="{{ page.title }}">
	</div>
</main>
