---
layout: default
---

{% assign lang = page.categories[1] %}
{% unless lang %}
	{% assign lang = 'en' %}
{% endunless %}

<main class="main">
	<article role="main" lang="{{ lang }}" class="main__content">
		<div class="entry">
			<div class="entry__info">
				<p class="meta">
					{% include author-picture.html object=page class='meta__picture' %}
					<time datetime="%Y-%m-%d" class="meta__time">{{ page.date | date: '%-d %B %Y' }}</time>
					by <span class="meta__author">{% include author-name.html object=page %}</span>
					in <a href="/{{ page.categories[0] }}/" class="meta__category">{{ page.categories[0] | capitalize }}</a>
				</p>
				<p>Tags:
{% for tag in page.tags %}
					<a href="/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}
				</p>
{% include translations.html category=site.categories.articles %}
			</div>
			<div class="entry__content">
				<h1 class="entry__title">{{ page.title | markdownline }}</h1>
				<div class="content">
{{ content }}
				</div>
			</div>
		</div>
	</article>
</main>