---
layout: default
---

{% capture tag %}
	{% for post in site.posts %}
		{% for tag in post.tags %}
			{% if tag == page.tag %}
				{% unless post.categories[1] %}
					<article class="teaser">
						<h2 class="teaser__title"><a href="{{ post.url }}" class="teaser__link">{{ post.title | markdownline }}</a></h2>
						<p class="meta meta--teaser">
							<time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="meta__time">{{ post.date | date: '%-d %B %Y' }}</time>
							by {% include authors.html entry=post link=true class='meta__author' %}
							in <a href="/{{ post.categories[0] }}/" class="meta__category">{{ post.categories[0] | capitalize }}</a>
						</p>
{% if post.intro %}
						<p class="teaser__intro">{{ post.intro | markdownline }}</p>
{% endif %}
					</article>(•)
				{% endunless %}
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endcapture %}

{% assign tag = tag | split: '(•)' %}

<main class="layout">
	<div class="layout__content">
		<section class="archive">
			<h2 class="archive__title">Entries with “{{ page.tag }}” tag</h2>
			<div class="archive__first">
{% for post in tag %}
	{{ post }}
{% endfor %}
			</div>
			<div class="archive__second">

			</div>
			<div class="archive__third">

			</div>
		</section>
	</div>
	<div class="layout__aside">
		<ul class="tags">
			<li class="tags__item"><a class="tags__link" href="">css</a></li>
			<li class="tags__item"><a class="tags__link" href="">flexbox</a></li>
			<li class="tags__item"><a class="tags__link" href="">html</a></li>
			<li class="tags__item"><a class="tags__link" href="">semantics</a></li>
			<li class="tags__item"><a class="tags__link" href="">javascript</a></li>
			<li class="tags__item"><a class="tags__link" href="">design</a></li>
			<li class="tags__item"><a class="tags__link" href="">dev-tools</a></li>
			<li class="tags__item"><a class="tags__link" href="">extensions</a></li>
			<li class="tags__item"><a class="tags__link" href="">http</a></li>
			<li class="tags__item"><a class="tags__link" href="">webrtc</a></li>
			<li class="tags__item"><a class="tags__link" href="">i18n</a></li>
			<li class="tags__item"><a class="tags__link" href="">android</a></li>
			<li class="tags__item"><a class="tags__link" href="">opera-mini</a></li>
			<li class="tags__item"><a class="tags__link" href="">svg</a></li>
			<li class="tags__item"><a class="tags__link" href="">tv</a></li>
		</ul>
	</div>
</main>
