---
layout: default
---

{% assign entries = site.posts | where: 'language', 'en' %}

<main block="layout">
	<div elem="content">
		<section block="archive">
			<h2 elem="title">Entries with “{{ page.tag }}” tag</h2>
			<div data-columns elem="columns">
{% for entry in entries %}
	{% for tag in entry.tags %}
		{% if tag == page.tag %}
			{% include teaser.html entry=entry %}
		{% endif %}
	{% endfor %}
{% endfor %}
			</div>
		</section>
	</div>
	<div elem="aside">
		{% include tags.html entries=entries %}
	</div>
</main>
<script src="/scripts/salvattore.js"></script>
