---
layout: default
---

{% assign entries = site.posts | where: 'language', 'en' %}

<main class="layout">
	<div class="layout__content">
		<section class="archive">
			<h2 class="archive__title">Entries with “{{ page.tag }}” tag</h2>
			<div data-columns class="archive__columns">
{% for entry in entries %}
	{% for tag in entry.tags %}
		{% if tag == page.tag %}
			{% include teaser.html entry=entry %}
		{% endif %}
	{% endfor %}
{% endfor %}
			</div>
		</section>
	</div>
	<div class="layout__aside">
		{% include tags.html entries=entries %}
	</div>
</main>
<script src="/scripts/salvattore.js"></script>
