---
layout: default
---

{% assign articles = site.posts | where: 'category', 'articles' | where: 'language', 'en' %}
{% assign articles_regular = articles | where: 'featured', null %}
{% assign articles_featured = articles | where: 'featured', 'featured' | last %}

{% assign blog = site.posts | where: 'category', 'blog' | where: 'language', 'en' %}

<main block="layout">
	<div elem="content">
		<section block="featured">
			<h2 elem="title">Featured</h2>
			<div elem="article">
{% if articles_featured %}
	{% include teaser.html entry=articles_featured mod='featured' %}
{% endif %}
			</div>
			<div elem="tags">
				{% include tags.html tags=site.data.tags-featured mod='featured' %}
			</div>
		</section>
		<section block="archive">
			<h2 elem="title">
				<a href="/articles/">Articles</a>
			</h2>
			<div data-columns elem="columns">
{% for article in articles_regular limit:16 %}
	{% include teaser.html entry=article %}
{% endfor %}
			</div>
		</section>
	</div>
	<div elem="aside">
		<section block="blog">
			<h2 elem="title"><a href="/blog/">Blog</a></h2>
{% for post in blog limit:6 %}
	{% include teaser.html entry=post mod='blog' %}
{% endfor %}
		</section>
		<section block="linkbait">
			<h2 elem="title">Useful Links</h2>
			<ul>
{% for item in site.data.links-main %}
				<li elem="item"><a elem="link" href="{{ item.link | escape }}">{{ item.text }}</a></li>
{% endfor %}
			</ul>
		</section>
	</div>
</main>
<script src="/scripts/salvattore.js"></script>
