// -------------------------------
// Content
// -------------------------------
.content {
	// Title
	&__title {
		margin:0 0 36px;
		line-height:1;
		font-weight:lighter;
		font-size:36px;
		}
	// Headings
	h2, h3, h4 {
		clear:both;
		margin:16px 0;
		font-size:24px;
		}
	// Paragraph
	p {
		margin:0 0 16px;
		}
	// Quote
	blockquote {
		font-style:italic;
		}
	// Lists
	ol, ul {
		margin:0 0 16px;
		}
	// Code
	pre {
		margin:0 0 16px;
		white-space:pre-wrap;
		}
	// Inline
	a {
		@extend %link--content;
		}
	b, strong {
		font-weight:bold;
		}
	i, em, dfn {
		font-style:italic;
		}
	code, kbd, pre, samp {
		tab-size:4;
		font-size:1em;
		font-family:PT Mono, monospace, monospace;
		}
	}

// Figure
.figure {
	margin-bottom:4px;
	@extend %grid;
	// Media
	&__media {
		max-width:100%;
		margin-bottom:12px;
		@extend %grid__item;
		&--half {
			@extend %lap--one-half;
			@extend %desk--one-half;
			}
		&--quarter {
			@extend %lap--one-quarter;
			@extend %desk--one-quarter;
			}
		}
	// Caption
	&__caption {
		font-style:italic;
		font-size:12px;
		@extend %grid__item;
		@extend %one-whole;
		&--center {
			text-align:center;
			}
		}
	}
