// -------------------------------
// Content
// -------------------------------
.content {
	// Title
	&__title {
		margin:0 0 36px;
		line-height:1;
		font-weight:lighter;
		font-size:36px;
		}
	// Headings
	h2, h3, h4 {
		clear:both;
		margin:32px 0 16px;
		font-size:24px;
		}
	// Paragraph
	p {
		margin:0 0 16px;
		}
	// Quote
	blockquote {
		font-style:italic;
		}
	// Lists
	ol, ul {
		margin:0 0 8px;
		counter-reset:list;
		// Nested
		ol, ul {
			margin:8px 0 0 24px;
			}
		// Items
		li {
			margin-bottom:8px;
			}
		}
		// Bullets
		ul > li:before {
			content:'\2022\00A0\00A0';
			}
		ol > li:before {
			counter-increment:list;
			content:counter(list)'.\00A0\00A0';
			}
	// Code
	pre {
		margin:0 0 16px;
		white-space:pre-wrap;
		}
	// Inline
	a {
		@extend %link--content;
		}
	b, strong {
		font-weight:bold;
		}
	i, em, dfn {
		font-style:italic;
		}
	code, kbd, pre, samp {
		tab-size:4;
		font-size:1em;
		font-family:PT Mono, monospace, monospace;
		}
	}

// Figure
.figure {
	margin-bottom:16px;
	// Media
	&__media {
		display:inline-block;
		}
	// Caption
	&__caption {
		margin-top:8px;
		font-style:italic;
		font-size:12px;
		&--center {
			text-align:center;
			}
		}
	}
