// -------------------------------
// Colors
// -------------------------------
$red:#CC0F16 !default;
$green:#00A700 !default;
$blue:#1096D5 !default;
$violet:#6040A0 !default;
$grey:#A2A4A3 !default;

// -------------------------------
// Mixins
// -------------------------------
@mixin retina {
	@media (-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
		@content;
		}
	}
@mixin clear {
	&:before,
	&:after {
		display:block;
		content:'';
		}
	&:after {
		clear:both;
		}
	}
@mixin offscreen {
	position:absolute;
	clip:rect(0 0 0 0);
	overflow:hidden;
	margin:-1px;
	padding:0;
	width:1px;
	height:1px;
	border:0;
	}
