// -------------------------------
// Entry
// -------------------------------
.entry {
	@extend %grid;
	}
	.entry__info {
		@extend %grid__item;
		@extend %one-whole;
		@extend %lap--one-quarter;
		@extend %desk--one-quarter;
		}
	.entry__content {
		@extend %grid__item;
		@extend %one-whole;
		@extend %lap--three-quarters;
		@extend %desk--seven-twelfths;
		}
	.entry__title {
		margin:0 0 36px;
		line-height:1;
		font-weight:lighter;
		font-size:36px;
		}

// -------------------------------
// Meta
// -------------------------------
.meta {
	color:$grey;
	}
	.meta__picture {
		width:128px;
		height:128px;
		border-radius:50%;
		}
	.meta__category {
		&:link,
		&:visited {
			color:$green;
			}
		}
.meta--teaser {
	font-size:12px;
	}
.meta--entry {

	}