// -------------------------------
// Figure
// -------------------------------
.figure {
	margin-bottom:16px;
	// Align
	&--left,
	&--right {
		margin-top:4px;
		max-width:33%;
		}
	&--left {
		float:left;
		margin-right:24px;
		}
	&--right {
		float:right;
		margin-left:24px;
		}
	// Media
	&__media {
		display:inline-block;
		max-width:100%;
		border:none;
		}
	// Caption
	&__caption {
		margin-top:8px;
		color:#777;
		font-style:italic;
		font-size:12px;
		&--center {
			text-align:center;
			}
		}
	}
