// Footer
// -------------------------------
.footer {
	padding:20px 30px;
	border-top:2px solid #E5E5E5;
	background:#F6F6F6;
	}
.footer-wrap {
	margin:auto;
	max-width:900px;
	p {
		color:#A2A4A3;
		text-align:center;
		text-transform:uppercase;
		font-size:10px;
		}
	}