// -------------------------------
// Global
// -------------------------------
body {
	margin:auto;
	padding:0 24px;
	max-width:1200px;
	background:#FFF;
	color:#000;
	font-feature-settings: "kern", "liga", "clig", "calt";
	font:16px/1.6 Helvetica, Arial, sans-serif;
	}
a {
	text-decoration:none;
	}
