// -------------------------------
// Global
// -------------------------------
body {
	margin:auto;
	padding:0 24px;
	max-width:1200px;
	background:#FFF;
	color:#000;
	font:16px/1.4 Helvetica, Arial, sans-serif;
	}
a {
	text-decoration:none;
	color:$link;
	&:visited {
		color:$visited;
		}
	}