// Grid
// -------------------------------
.grid {
	position:fixed;
	top:0;
	left:24px;
	right:24px;
	bottom:0;
	pointer-events:none;
	@extend %grid;
	div {
		position:relative;
		height:100%;
		@extend %grid__item;
		@extend %one-twelfth;
		&:after {
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:24px;
			background:rgba(red, 0.1);
			content:'';
			}
		}
	}