// -------------------------------
// Links
// -------------------------------

// Blue

%link--blue {
	color:$blue;
	&:hover,
	&:focus {
		color:lighten($blue, 10%);
		}
	}
%link--blue-hover {
	&:hover,
	&:focus {
		color:$blue;
		}
	}

// Green

%link--green {
	color:$green;
	&:hover,
	&:focus {
		color:lighten($green, 6%);
		}
	}

// Grey

%link--grey {
	color:$grey;
	}

// Black

%link--black {
	color:#000;
	}

// Visited

%link--visited {
	&:visited {
		color:$violet;
		&:hover {
			color:lighten($violet, 12%);
			}
		}
	}

// Hover

%link--hover {
	transition:color 0.3s;
	}
