// -------------------------------
// Meta
// -------------------------------
.meta {
	color:$grey;
	// Elements
	&__picture {
		width:128px;
		height:128px;
		border-radius:50%;
		}
	&__category {
		color:$green;
		&:hover,
		&:focus {
			color:lighten($green, 6%);
			}
		}
	// Modyfiers
	&--teaser {
		font-size:12px;
		}
	&--entry {

		}
	}
