// -------------------------------
// Meta
// -------------------------------
.meta {
	color:$grey;
	// Elements
	&__time {
		}
	&__author {
		@extend %link--blue;
		}
	&__category {
		@extend %link--green;
		}
	&__picture {
		display:block;
		margin:0 0 16px;
		max-width:100%;
		width:128px;
		border-radius:50%;
		}
	// Modyfiers
	&--teaser {
		font-size:12px;
		}
	&--entry {

		}
	}
