// -------------------------------
// Search
// -------------------------------
.search {
	.gsc-control-cse {
		padding:0;
		}
	.gsc-above-wrapper-area {
		padding:0;
		}
	.gcsc-branding {
		display:none;
		}
	.gsc-webResult .gsc-result {
		padding:0;
		}
	}
