// -------------------------------
// Tags
// -------------------------------
.tags {
	line-height:1.8;
	font-size:13px;
	&__caption {
		color:#000;
		}
	&__link {
		@extend %link--blue;
		white-space:nowrap;
		}
	}
