// -------------------------------
// Teaser
// -------------------------------
.teaser {
	margin:0 0 12px;
	padding:0 0 14px;
	border-bottom:1px solid #DDD;
	break-inside:avoid;
	// Elements
	&__title {
		margin:0 0 8px;
		font-weight:lighter;
		font-size:18px;
		}
	&__link {
		@extend %link--black;
		@extend %link--black-visited;
		@extend %link--hover;
		}
	&__picture {
		}
	&__intro {
		margin:12px 0 0;
		a {
			@extend %link--blue;
			}
		}
	}
