// -------------------------------
// Teaser
// -------------------------------
.teaser {
	margin:0 0 12px;
	padding:0 0 14px;
	border-bottom:1px solid #DDD;
	break-inside:avoid;
	}
	.teaser__title {
		margin:0 0 8px;
		font-weight:lighter;
		font-size:18px;
		a {
			color:#000;
			@include hover;
			&:hover,
			&:focus {
				color:$blue;
				}
			}
		}
	.teaser__picture {
		}
	.teaser__intro {
		margin:12px 0 0;
		}
