// -------------------------------
// Teaser
// -------------------------------
.teaser {
	margin:0 0 12px;
	padding:0 0 14px;
	border-bottom:1px solid #DDD;
	break-inside:avoid;
	font-size:15px;
	// Elements
	&__title {
		margin:0 0 8px;
		font-weight:lighter;
		font-size:18px;
		&--featured {
			font-size:24px;
			}
		}
	&__link {
		@extend %link--black;
		@extend %link--hover;
		}
	&__cover {
		display:block;
		margin:0 0 12px;
		width:100%;
		max-width:100%;
		}
	&__intro {
		margin:12px 0 0;
		a {
			@extend %link--blue;
			}
		}
	// Featured
	&--links {
		a {
			@extend %link--blue;
			}
		}
	}
