---
title: Articles
layout: default
---

<main class="main">
	<article role="main" class="main__content">
		<!-- <h1>{{ page.title }}</h1> -->
		<section class="archive">
{% capture articles %}
	{% for post in site.categories.articles %}
		{% unless post.categories[1] %}
			<article class="teaser">
				<h3 class="teaser__title"><a href="{{ post.url }}">{{ post.title | markdownline }}</a></h3>
				<p>
					By {% include author.html object=post %}
					at <time>{{ post.date | date: '%d %B %Y' }}</time>
				</p>
			</article>(•)
		{% endunless %}
	{% endfor %}
{% endcapture %}
{% assign articles = articles | split: '(•)' %}
{% assign middle = articles.size | divided_by:2 %}
			<div class="archive__column">
{% for article in articles %}
	{{ article }}
	{% if middle == forloop.index %}
			</div>
			<div class="archive__column">
	{% endif %}
{% endfor %}
			</div>
			<div class="archive__aside">
				Something
			</div>
		</section>
	</article>
</main>